<%- include('../partials/header') %>

<div>Before adding, Please make sure that the Performer is not already list below:</div>
<section id="badge-container">
  <% performers.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-performer-form" action="/performers" method="POST">
  <label>Performer Name:</label>
  <input type="text" name="name">
  <label>Date Born:</label>
  <input type="date" name="born">
  <input type="submit" value="Add A Performer">
</form>

<%- include('../partials/footer') %>
